<nav class="sideNav">
    <div class="logo">
        <a href="/">
            <img id="crest-clear" src="/static/img/crest-clear.png" alt="Family Crest" />
        </a>
    </div>

    <ul class="">
        <li class="">
            <a href="/" hx-get="/templates/dashboard" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Dashboard</a>
        </li>
        <li class="">
            <a href="/" hx-get="/templates/transactions" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Transactions</a>
        </li>
        <li class="">
            <a href="/" hx-get="/templates/transactionstypes" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Transactions Types</a>
        </li>
        <li class="">
            <a href="/upload" hx-get="/templates/upload" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Upload OFX
                Data</a>
        </li>
        <li class="">
            <a href="/upload" hx-get="/templates/upload" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Debt Management</a>
        </li>
        <li class="">
            <a href="" hx-get="/templates/crypto" hx-trigger="click" hx-target="#content" hx-swap="innerHTML">Crypto Portfolio</a>
        </li>
        <!-- <li class="">
            <a href="/" class=""> <small>Version: {{.}}</small></a>
        </li> -->
    </ul>
</nav>
