{{ if .Coin }}

    <div class="modalBody">
        <h3>
            Edit Transaction Type
            <button type="button" class="close" _="on click remove .modal-open from #cryptoAddEditModal">&times;</button>
        </h3>
        <form hx-patch="/crypto/update/{{ .Coin.ID }}" hx-target="#content" hx-swap="innerHTML">
            <label for="geckoid">Gecko ID:</label>
            <input type="text" id="geckoid" name="geckoid" value="{{ .Coin.CoinGeckoCryptoID }}" required>

            <label for="cryptoname">Crypto Name:</label>
            <input type="text" id="cryptoname" name="cryptoname" value="{{ .Coin.CryptoName }}" required>

            <label for="cryptosymbol">Crypto Symbol:</label>
            <input type="text" id="cryptosymbol" name="cryptosymbol" value="{{ .Coin.CryptoSymbol }}" required>

            <label for="amount">Holding:</label>
            <input type="number" id="amount" name="amount" value="{{ .Coin.CryptoAmountHolding }}" step="0.0000000001" required>
           
            <button type="submit" _="on htmx:afterOnLoad wait 1ms then remove .modal-open from #cryptoAddEditModal">Update</button>
        </form>
    </div>

{{ else }}

<div class="modalBody">
    <h3>
        Add Transaction Type
        <button type="button" class="close" _="on click remove .modal-open from #cryptoAddEditModal">&times;</button>
    </h3>
    <form hx-post="/crypto/add" hx-target="#content" hx-swap="innerHTML">

        <label for="geckoid">Gecko ID:</label>
        <input type="text" id="geckoid" name="geckoid" required>

        <label for="cryptoname">Crypto Name:</label>
        <input type="text" id="cryptoname" name="cryptoname" required>

        <label for="cryptosymbol">Crypto Symbol:</label>
        <input type="text" id="cryptosymbol" name="cryptosymbol" required>

        <label for="amount">Holding:</label>
        <input type="number" id="amount" name="amount" step="0.0000000001" required>

        <button type="submit">Add</button>
    </form>
</div>

{{ end }}