# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with "go test -c"
*.test
/uploads
*.db
# Output of the go coverage tool, specifically when used with LiteIDE
*.out
*.ofx

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
tmp/

# IDE specific files
.vscode
.idea

# .env file
.env
# Ignore file named "main" in the root directory without a file extension
/main
