<form hx-post="/budget/add" hx-target="#ofxUploads" hx-swap="outerHTML" hx-indicator="#spinner" hx-post="true" enctype="multipart/form-data" class="flex">
    <div class="form-group">
        <label for="budget">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label for="budget">Amount</label>
        <input type="number" class="form-control" id="amount" name="amount" placeholder="Enter amount">
    </div>

    <div>
        <label for="budget">&nbsp;</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>