<form hx-post="/budget/edit/{{ .Budget.ID }}" hx-target="#content" hx-swap="innerHTML" hx-indicator="#spinner" hx-post="true" enctype="multipart/form-data" class="flex mb-5">
    <div class="form-group">
        <label for="budget">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" value="{{ .Budget.Name }}" required>
    </div>
    <div class="form-group">
        <label for="budget">Amount</label>
        <input type="number" step="0.01" class="form-control" id="amount" name="amount" placeholder="Enter amount" value="{{ .Budget.Amount }}" required>
    </div>

    <div>
        <label for="budget">&nbsp;</label>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>
</form>