<form hx-post="/budget/add" hx-target="#addBudget" hx-swap="innerHTML" hx-indicator="#spinner" hx-post="true" enctype="multipart/form-data" class="flex">
    <div class="form-group">
        <label for="budget">Name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name" required>
    </div>
    <div class="form-group">
        <label for="budget">Amount</label>
        <input type="number" step="0.01" class="form-control" id="amount" name="amount" placeholder="Enter amount" required>
    </div>
    <div class="form-group">
        <label for="important">Important</label>
        <input type="hidden"  id="hiddenImportant" name="important" value="false">
        <input type="checkbox" class="form-control" id="checkboxImportant" name="importantCheckbox" value="true" checked="false">
    </div>
    <script>
        function updateHiddenInput() {
            var checkbox = document.getElementById('checkboxImportant');
            var hiddenInput = document.getElementById('hiddenImportant');
            hiddenInput.value = checkbox.checked ? 'true' : 'false';
        }
    </script>
    <div>
        <label for="budget">&nbsp;</label>
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>