<section class="cards">
    <div class="card">
        <div class="cardHead">
            <h3 class="">Total Income</h3>
            <span>
                +
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <path d="M12 2v20M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R {{ formatPrice .TotalIncome }}</div>
            <p class="muted"><small>+20.1% from last month</small></p>
        </footer>
    </div>
    <div class="card ">
        <div class=" cardHead">
            <h3 class="">Total Spent</h3>
            <span>
                -
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <path d="M12 2v20M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R {{ formatPrice .TotalExpense }}</div>
            <p class="muted"><small>+180.1% from last month</small></p>
        </footer>
    </div>
    <div class=" card ">
        <div class="cardHead">
            <h3 class="">Budget</h3>
            <span>
                -
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                <path d="M2 10h20"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R {{ formatPrice .BudgetTotal }}</div>
            <p class="muted"><small>Current budget spend is: R {{ formatPrice .BudgetSpent }}</small></p>
        </footer>
    </div>
    <div class=" card ">
        <div class=" cardHead">
            <h3 class="">Total Savings</h3>
            <span>
                + 
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R 200 000</div>
            <p class="muted"><small>+201 since last hour</small></p>
        </footer>
    </div>
</section>


<section class="dashboardContainer">
    <div class="recentTransactions border">
        <h3>
            Recent Transactions
            <small class="muted">The recent stransaction total is R {{ formatPrice .RecentTotal }} out of {{
                .TransactionCount
                }}</small>
        </h3>
    
        <ul>
            {{ range .Transactions }}
            <li>
                <span class="flex">
                    <span class="profilePic">
                        {{if eq .BankName "FNB"}}
                        <img src="/static/img/fnb.png" alt="FNB">
                        {{else}}
                        <img src="/static/img/nedbank.png" alt="NEDBANK">
                        {{end}}
                    </span>
                    <h5 class="uppercase">
                        {{if isEmpty .TransactionMemo }}
                            {{.TransactionName}}
                        {{else}}
                            {{.TransactionMemo}}
                        {{end}}
                        {{if and .TransactionType .Budget}}
                        <small class="muted">{{if and .TransactionType}}{{ .TransactionType.Title }}{{end}} {{if and .Budget}}&bullet; {{ .Budget.Name }} {{end}}</small>
                        {{else}}
                        <small class="muted">{{if and .TransactionType}}{{ .TransactionType.Title }}{{end}} {{if and .Budget }}{{ .Budget.Name }} {{end}}</small>
                        {{end}}
                    </h5>
                </span>
                <span class="alignRight">
                    R {{ formatPrice .TransactionAmount }}
                    <small class="muted">{{ formatDate .TransactionDate}}</small>
                </span>
            </li>
            {{ end }}
        </ul>
    </div>
    
    <div class="monthlyBudget border">
        <header class="flex">
            <h3>
                Monthly Budget
                <small class="muted">The recent stransaction total is R {{ formatPrice .BudgetSpent }}</small>
            </h3>
            <button hx-get="/components/budget/form" hx-trigger="click" hx-target="#addBudget" hx-swap="innerHTML">+</button>
        </header>
        <section id="addBudget"></section>
        <ul>
            {{ range .BudgetTotalItems }}
            <li class="borderBottom">
                <h5>
                    {{ .Budget.Name }}
                    <small class="muted">More info here</small>
                </h5>
                <span class="alignRight ml-auto">
                    R {{ formatPrice .Budget.Amount }}

                    {{ if isTotalSpendGreaterThanBudget .TotalTransactionAmount .Budget.Amount }}
                    <small class="danger">R {{ formatPrice .TotalTransactionAmount}}</small>
                    {{ else }}
                    <small class="success">R {{ formatPrice .TotalTransactionAmount}}</small>
                    {{ end }}
                </span>
                <a class="delete icon ml-1"><svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                    width="800px" height="800px" viewBox="0 0 490.646 490.646"
                    xml:space="preserve">
               <g>
                   <g>
                       <path d="M399.179,67.285l-74.794,0.033L324.356,0L166.214,0.066l0.029,67.318l-74.802,0.033l0.025,62.914h307.739L399.179,67.285z
                            M198.28,32.11l94.03-0.041l0.017,35.262l-94.03,0.041L198.28,32.11z"/>
                       <path d="M91.465,490.646h307.739V146.359H91.465V490.646z M317.461,193.372h16.028v250.259h-16.028V193.372L317.461,193.372z
                            M237.321,193.372h16.028v250.259h-16.028V193.372L237.321,193.372z M157.18,193.372h16.028v250.259H157.18V193.372z"/>
                   </g>
               </g>
               </svg></a>
            </li>
            {{ end }}
        </ul>
    </div>
</section> 