<section class="cards">
    <div class="card">
        <div class="cardHead">
            <h3 class="">Total Income</h3>
            <span>
                +
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <path d="M12 2v20M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R {{ formatPrice .TotalIncome }}</div>
            <p class="muted"><small>+20.1% from last month</small></p>
        </footer>
    </div>
    <div class="card ">
        <div class=" cardHead">
            <h3 class="">Total Spent</h3>
            <span>
                -
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <path d="M12 2v20M17 5H9.5a3.5 3.5 0 0 0 0 7h5a3.5 3.5 0 0 1 0 7H6"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R {{ formatPrice .TotalExpense }}</div>
            <p class="muted"><small>+180.1% from last month</small></p>
        </footer>
    </div>
    <div class=" card ">
        <div class="cardHead">
            <h3 class="">Budget</h3>
            <span>
                -
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <rect width="20" height="14" x="2" y="5" rx="2"></rect>
                <path d="M2 10h20"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R {{ formatPrice .BudgetTotal }}</div>
            <p class="muted"><small>+19% from last month</small></p>
        </footer>
    </div>
    <div class=" card ">
        <div class=" cardHead">
            <h3 class="">Total Savings</h3>
            <span>
                + 
                <svg xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                stroke-width="2" class="h-4 w-4 text-muted-foreground">
                <path d="M22 12h-4l-3 9L9 3l-3 9H2"></path>
            </svg>
            </span>
        </div>
        <footer class="">
            <div class="text-2xl">R 200 000</div>
            <p class="muted"><small>+201 since last hour</small></p>
        </footer>
    </div>
</section>


<section class="dashboardContainer">
    <div class="recentTransactions border">
        <h3>
            Recent Transactions
            <small class="muted">The recent stransaction total is R {{ formatPrice .RecentTotal }} out of {{
                .TransactionCount
                }}</small>
        </h3>
    
        <ul>
            {{ range .Transactions }}
            <li>
                <span class="flex">
                    <span class="profilePic">
                        {{if eq .BankName "FNB"}}
                        <img src="/static/img/fnb.png" alt="FNB">
                        {{else}}
                        <img src="/static/img/nedbank.png" alt="NEDBANK">
                        {{end}}
                    </span>
                    <h5 class="uppercase">
                        {{if .TransactionName}}
                        {{.TransactionName}}
                        {{else}}
                        {{.TransactionMemo}}
                        {{end}}
                        <small class="muted">{{ .BankName }} &bullet; {{formatDate .TransactionDate}}</small>
                    </h5>
                </span>
                <span class="">R {{ formatPrice .TransactionAmount }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
    
    <div class="monthlyBudget border">
        <h3>
            Monthly Budget
            <small class="muted">The recent stransaction total is R {{ .BudgetTotal }}</small>
            <!-- <button hx-get="/components/budget/form" hx-trigger="click" hx-target="#addBudget" hx-swap="innerHTML">+</button> -->
        </h3>
        <section id="addBudget"></section>
        <ul>
            {{ range .BudgetItems }}
            <li>
                <h5>
                    {{.Name}}
                    <small class="muted">FNB &bullet; 2024-08-01</small>
                </h5>
                <span class="">R {{ formatPrice .Amount }}</span>
            </li>
            {{ end }}
        </ul>
    </div>
</section>