<div class="title"><h1>Crypto Portfolio</h1></div>

<section id="transTypeList" class="dashboardContainer">
    <div class="recentTransactions border">
        <h3>
            Crypto We Own
            <small class="muted">R {{ formatPrice .TotalValue }}</small>
            <button class="updatePrices"  hx-get="/crypto/fetch/prices" hx-target="#content" hx-swap="innerHTML">Fetch New Prices</button>
        </h3>
        <ul >
            {{ range .CryptoCoins }}
            <li>
                <span class="flex">
                    <h5 class="uppercase">
                        
                        {{ .CryptoName}}
                        <small class="muted">
                            {{ .CryptoSymbol }} 
                            {{if and .CryptoPrice}}&bullet; $ {{formatPrice .CryptoPrice}}{{end}}
                            {{if and .CryptoPriceZar}}&bullet; R {{formatPrice .CryptoPriceZar}}{{end}}
                        </small>
                    </h5>
                </span>
                <span class="alignRight">
                    R {{if and .CurrentValueZar}}{{ formatPrice .CurrentValueZar }}{{else}}0{{end}}
                    <small class="muted">{{ formatPrice .CryptoAmountHolding}}</small>
                </span>
            </li>
            {{ end }}
        </ul>
    </div>
    
    <div class="monthlyBudget border">
        <h3>
            Add/View Transaction Type
            <small class="muted">Some text can go here...</small>
        </h3>
        <section id="addBudget"></section>
        <form hx-post="/crypto/add" hx-target="#content" hx-swap="innerHTML">
            <label for="geckoid">Gecko ID:</label>
            <input type="text" id="geckoid" name="geckoid" required>
            <label for="cryptoname">Crypto Name:</label>
            <input type="text" id="cryptoname" name="cryptoname" required>
            <label for="cryptosymbol">Crypto Symbol:</label>
            <input type="text" id="cryptosymbol" name="cryptosymbol" required>
            <label for="amount">Holding:</label>
            <input type="number" id="amount" name="amount" step="0.0000000001" required>
            <button type="submit">Add</button>
        </form>
    </div>