<!DOCTYPE html>
<html lang="en" class="dark">
  {{ define "homepage/index.html" }}
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BeetsDeBeer</title>

  {{template "headimports.html" .Version}}

</head>

<body>
  <!-- <h1>{{ .Version }}</h1> -->
  {{template "sidenav.html" .Version}}

  <div id="content" class="container mx-auto" hx-get="/components/transactions" hx-trigger="load"></div>

  {{template "bodyimports.html" .Version}}
</body>
{{ end }}
</html>