<div class="title"><h1>Transactions Types</h1></div>

<section id="transTypeList" class="dashboardContainer">
    <div class="recentTransactions border">
        <h3>
            Transaction Types
            <small class="muted">The recent stransaction total is...</small>
        </h3>
        <ul >
            {{ range .TransactionTypes }}
            <li>
                <span class="flex">
                    <h5 class="uppercase">
                        
                        {{ .Title}}
                        <small class="muted">Some more text here</small>
                    </h5>
                </span>
                <span class="">DELETE</span>
            </li>
            {{ end }}
        </ul>
    </div>
    
    <div class="monthlyBudget border">
        <h3>
            Add/View Transaction Type
            <small class="muted">Some text can go here...</small>
        </h3>
        <section id="addBudget"></section>
        <form hx-post="/transactionstypes/add" hx-target="#content" hx-swap="innerHTML">
            <label for="type">Type:</label>
            <input type="text" id="type" name="title" required>
            <label for="category">Category:</label>
            <input type="text" id="category" name="category" placeholder="new dbtable maybe?">
            <button type="submit">Add</button>
        </form>
    </div>
</section>