<div class="title">
    <h1>Transactions</h1>
</div>
<div class="tableContainer">
    <div class="border">
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Bank</th>
                    <th>Amount</th>
                    <th>Transaction Memo</th>
                    <th>Budget Item</th>
                    <th>Transaction Type</th>
                </tr>
            </thead>
            <tbody>
                {{ range .TransactionsData }}
                <tr>
                    {{ $currentTransaction := .Transaction }} <!-- Keep a reference to the current Transaction -->
                    <td>{{ formatDate .Transaction.TransactionDate }}</td>
                    <td>{{ .Transaction.BankName }}</td>
                    <td>R {{ formatPrice .Transaction.TransactionAmount }}</td>
                    <td>
                        {{if isEmpty .Transaction.TransactionName}}
                        {{.Transaction.TransactionMemo}}
                        {{else}}
                        {{.Transaction.TransactionName}}
                        {{end}}
                    </td>
                    <td>
                        <select name="budgetItemID" id="budgetItemSelect"
                            hx-post="/transactions/{{ .Transaction.ID }}/budgetitems/add" hx-trigger="change">
                            <option value="" disabled selected>Select</option>
                            {{ range .BudgetItems }}
                                {{ if isNil $currentTransaction.BudgetID }}
                                <option value="{{ .ID }}">{{ .Name }}</option>
                                {{ else }}
                                <option value="{{ .ID }}" {{ if eq .ID (dereferencePntr $currentTransaction.BudgetID)
                                    }}selected{{ end }}>{{ .Name }}</option>
                                {{ end }}
                            {{ end }}
                        </select>
                    </td>
                    <td>
                        <select name="transactionTypeID" id="transactionTypeSelect"
                            hx-post="/transactions/{{ .Transaction.ID }}/transactionstypes/add" hx-trigger="change">
                            <option value="" disabled selected>Select</option>
                            {{ range .TransactionTypes }}
                            <option value="{{ .ID }}" {{ if eq .ID $currentTransaction.TransactionTypeID }}selected{{
                                end }}>{{ .Title }}</option>
                            {{ end }}
                        </select>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>

    <!-- <h2>Add Transaction</h2>
    
    <form>
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount">
    
        <label for="type">Type:</label>
        <select id="type" name="type">
            <option value="income">Income</option>
            <option value="expense">Expense</option>
        </select>
    
        <button type="submit">Add</button>
    </form> -->
</div>